<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<div class="header" th:fragment="bodyHeader">
    <header>
        <nav>
            <ul class="nav-left">
                <li><a href="/boardpick"><h1>boardPICK</h1></a></li>
            </ul>
            <ul class="nav-right">
                <li><a sec:authorize="isAnonymous()" th:href="@{/signup}">회원가입</a></li>
                <li><a sec:authorize="isAnonymous()" th:href="@{/users/login}">로그인</a></li>
                <li><a sec:authorize="isAuthenticated()" th:href="@{/users/logout}">로그아웃</a></li>
            </ul>
        </nav>
    </header>
</div>