<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div class="container">
<!-- 헤더: 로그인과 회원가입 버튼 -->
<div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <!-- 메인 콘텐츠: 게임 리스트 -->
    <main>
        <h2>추천 보드게임 목록</h2>
        <div class="game-list">
            <!-- 게임 카드 반복 출력 -->
            <div th:each="game : ${games}" class="game-card">
                <h3 th:text="${game.name}">게임 이름</h3>
                <p th:text="'적정 인원: ' + ${game.minPlayer} + '~' + ${game.maxPlayer}">적정 인원 정보</p>
<!--                <a th:href="@{/games/{id}(id=${game.id})}" class="details-button">자세히 보기</a>-->
            </div>
        </div>
    </main>

    <div th:replcae="~{fragments/footer :: footer}"></div>
</div>
</body>
</html>
