<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div class="container">
  <!-- 헤더: 로그인과 회원가입 버튼 -->
  <div th:replace="fragments/bodyHeader :: bodyHeader"/>
  <!-- 메인 콘텐츠: 게임 리스트 -->
  <main>
    <div class="game-list">
      <!-- 게임 카드 반복 출력 -->
<!--      <div th:each="game : ${games}" class="game-card">-->
<!--        <h3 th:text="${game.name}">게임 이름</h3>-->
<!--        <p th:text="'적정 인원: ' + ${game.minPlayer} + '~' + ${game.maxPlayer}">적정 인원 정보</p>-->
<!--        &lt;!&ndash;                <a th:href="@{/games/{id}(id=${game.id})}" class="details-button">자세히 보기</a>&ndash;&gt;-->
<!--      </div>-->
<!--    </div>-->
      <table class="game-table">
        <thead>
        <tr>
          <th>
            <label class="checkbox-inline">
              <input type="checkbox" id="allCheckBox" onclick="allChecked()">
            </label>
          </th>
          <th>#</th>
          <th>게임 이름</th> <th>적정 인원</th> <th>카테고리</th>
          <th></th>
          <!--<th>
            <a href='javascript:boardDelete();' class="btn btn-danger">글삭제</a>
          </th>-->
        </tr>
        </thead>
        <tbody>
        <tr th:each="game : ${games}">
          <th>
            <label class="checkbox-inline">
              <input type="checkbox" name="chk" class="chk"onclick="chkClicked()" th:value="${game.id}">
            </label>
          </th>
          <td th:text="${gameStat.count}"></td>
          <td th:text="${game.name}"></td>
          <td th:text="${game.minPlayer} + '~' + ${game.maxPlayer}"></td>
          <td th:text="${game.category}"></td>
          <td>
            <a href="#" th:href="@{/games/{id}/edit (id=${game.id})}">수정</a>
          </td>
          <td>
            <a href="#" th:href="@{/games/{id}/delete (id=${game.id})}">삭제</a>
          </td>
        </tr>
          <!--                    <td>-->
          <!--                        <a th:if= "${item.status.name() == 'ORDER'}" href="#"-->
          <!--                           th:href="'javascript:cancel('+${item.id}+')'"-->
          <!--                           class="btn btn-danger">CANCEL</a>-->
          <!--                    </td>-->
        </tr>
        </tbody>
      </table>
      <a href = "/games/new" class="btn btn--primary">게임 추가</a>
  </main>
  <div th:replcae="~{fragments/footer :: footer}"></div>
</div>
</body>
</html>

<script>

  //체크박스 전체 선택 클릭 이벤트
  function allChecked(target){

    //전체 체크박스 버튼
    const checkbox = document.getElementById('allCheckBox');

    //전체 체크박스 버튼 체크 여부
    const is_checked = checkbox.checked;

    //전체 체크박스 제외한 모든 체크박스
    if(is_checked){
      //체크박스 전체 체크
      chkAllChecked()
    }

    else{
      //체크박스 전체 해제
      chkAllUnChecked()
    }
  }

  //자식 체크박스 클릭 이벤트
  function chkClicked(){

    //체크박스 전체개수
    const allCount = document.querySelectorAll(".chk").length;

    //체크된 체크박스 전체개수
    const query = 'input[name="chk"]:checked'
    const selectedElements = document.querySelectorAll(query)
    const selectedElementsCnt = selectedElements.length;

    //체크박스 전체개수와 체크된 체크박스 전체개수가 같으면 전체 체크박스 체크
    if(allCount == selectedElementsCnt){
      document.getElementById('allCheckBox').checked = true;
    }

    //같지않으면 전체 체크박스 해제
    else{
      document.getElementById('allCheckBox').checked = false;
    }
  }

  //체크박스 전체 체크
  function chkAllChecked(){
    document.querySelectorAll(".chk").forEach(function(v, i) {
      v.checked = true;
    });
  }

  //체크박스 전체 체크 해제
  function chkAllUnChecked(){
    document.querySelectorAll(".chk").forEach(function(v, i) {
      v.checked = false;
    });
  }

  //글삭제
  function boardDelete(){
    //체크박스 체크된 항목
    const query = 'input[name="chk"]:checked'
    const selectedElements = document.querySelectorAll(query)

    //체크박스 체크된 항목의 개수
    const selectedElementsCnt = selectedElements.length;

    if(selectedElementsCnt == 0){
      alert("삭제할 항목을 선택해주세요.");
      return false;
    }

    else{
      if (confirm("정말로 삭제하시겠습니까?")) {
        //배열생성
        const arr = new Array(selectedElementsCnt);

        document.querySelectorAll('input[name="chk"]:checked').forEach(function(v, i) {
          arr[i] = v.value;
        });

        const form = document.createElement('form');
        form.setAttribute('method', 'post');        //Post 메소드 적용
        form.setAttribute('action', '/delete');

        var input1 = document.createElement('input');
        input1.setAttribute("type", "hidden");
        input1.setAttribute("name", "gameIds");
        input1.setAttribute("value", arr);
        form.appendChild(input1);
        console.log(form);
        document.body.appendChild(form);
        form.submit();
      }
    }
  }

</script>